<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23335545746-cgjifg1ibcmu2tql0ks7cbuivlla6fgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23335545746-cgjifg1ibcmu2tql0ks7cbuivlla6fgf</string>
	<key>API_KEY</key>
	<string>AIzaSyB-0IUW13-5j4wkzD4mJm1MCh3EbsSmAb8</string>
	<key>GCM_SENDER_ID</key>
	<string>23335545746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antondrogonov.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-c887c</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-c887c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23335545746:ios:7aaedc8037ff097d842f4b</string>
</dict>
</plist>